# MacOS system files
.DS_Store

# images
img/

# video files
assets/video/

#VScode Settings
.vscode/

# Not Chasing compiled css
assets/css/smooth-scroll-stage.css
assets/css/smooth-scroll-stage.css.map