@charset "UTF-8";
@use 'variables';

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.svg-flower {
    opacity : 0;
}
.flower_01 {
    fill : variables.$secondary-200;
    transform : translate(50%, 25%);
}
.flower_02 {
    fill : variables.$secondary-200;
    transform : translate(10%, 10%) scale(0.8);
}
.svg-ribbon {
    stroke-dasharray: 900;
    stroke-dashoffset: 1800;
    opacity: 0;
}

.svg-ribbon {
    opacity: 0;
}

.ribbon_01 {
    fill : none;
    stroke : variables.$secondary-200;
    stroke-width : 10;
    stroke-linecap: round;
    transform : translate(10%, 10%);
}
.ribbon_02 {
    fill : none;
    stroke : variables.$secondary-200;
    stroke-width : 10;
    stroke-linecap: round;
    transform : translate(50%, 25%) scale(0.8);
}

.svg-butterfly {
    opacity: 0;
}
.butterfly_01 {
    fill: variables.$secondary-200;
    transform : translate(10%, 25%) rotate(-11.7deg);
}
.butterfly_02 {
    fill: variables.$secondary-200;
    transform : translate(50%, 10%) scale(0.8) rotate(13.5deg);
}

.svg-heart {
    opacity: 0;
}
.heart_01 {
    fill: variables.$secondary-200;
    transform : translate(10%, 10%);
}
.heart_02 {
    fill: variables.$secondary-200;
    transform : translate(50%, 25%) scale(0.8);
}

.svg-rose {
    opacity : 0;
}
.rose_01 {
    fill: variables.$secondary-200;
    transform : translate(10%, 10%);
}
.rose_02 {
    fill: variables.$secondary-200;
    transform : translate(50%,25%) scale(0.8);
}
@media screen and (orientation: landscape) {
    .flower_01 {
    transform : translate(25%, 50%);
    }
    .flower_02 {
        transform : translate(10%, 25%) scale(0.8);
    }
    .ribbon_01 {
        transform : translate(10%, 25%);
    }
    .ribbon_02 {
        transform : translate(25%, 50%) scale(0.8);
    }
    .butterfly_01 {
        transform : translate(5%, 50%) rotate(-11.7deg);
    }
    .butterfly_02 {
        transform : translate(25%, 25%) scale(0.8) rotate(13.5deg);
    }
    .heart_01 {
        transform : translate(5%, 25%);
    }
    .heart_02 {
        transform : translate(25%, 50%) scale(0.8);
    }
    .rose_01 {
        transform : translate(5%, 25%);
    }
    .rose_02 {
        transform : translate(25%, 50%) scale(0.8);
    }
}